*{
  font-size: 16px;
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  background: black;
}
p{
  font-family: 'Open Sans',sans-serif;
  font-size:2rem;
  font-weight: 500;
  text-align: center;
  padding: 15% 0;
}
header{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vw;
}
img{
  height: 50vw;
}
.selection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vw;
}
select{
  background-color: white;
  padding-left: 10px;
  color: black;
  height: 5vw;
  font-size: 2rem;
  border-radius: 10px;
}
footer{
  /* padding-top:  */
}
.copyright{
  color: #c2c2c2;
}
span{
  text-transform: uppercase;
}