ul{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow:hidden;
  @include tablet{
   flex-direction: row;
   flex-wrap: wrap;
  }
}
li{
  position: relative;
  margin: 0 auto;
  height: 60vw;
  @include tablet{
    width: 33.333vw;
    height: 40vw;
  }
  @include desktop{
    width:25vw;
    height: 30vw;
  }
  p{
    text-align: left;
    height: auto;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    color: white;
    background: rgba(0,0,0, 0.4);
    padding: 5px;
    white-space:initial;
    transition: transform .5s ease-out;
    overflow: hidden;
    @include desktop{
      transform: translateY(210px);
    }
  }
  &:hover p{
    @include desktop{
      transform:translateY(0);
    }
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  }
.loading img{
  width: 25vw;
  height: 25vw;
}