html {
  font-size: $base-size;
  color: $color-main;
  background: black; 
  width: 100%;
  box-sizing: border-box;
}
p{
  font-family: $font-main;
  font-size: $base-size;
  text-align: center;
  padding: 3% 0;

}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
