header{
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  // width: 100vw;
  margin: 30% auto;
  @include tablet{
    // flex-direction: row;
    height: 420px;
    width: 50vw;
    margin: 30% 50% 30% 50px;
    align-content: flex-start;
    // flex-basis: 40%;
  }
  @include desktop{
    // height: 420px;
  }
}
.header-after{
  height: auto;
  margin: 0;
  padding: 5% 0;
}
.logo{
  height: 50vw;
  @include tablet{
    height: 300px;
    justify-content: left;
  }
}
.logo-after{
  height: 100px;
  width: 70px;
}
.selection-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
select{
  width: 200px;
  background-color: white;
  margin: 0 auto;
  color: black;
  height: 50px;
  font-size: $base-size;
  border-radius: 10px;
}